.list-header{
  font-weight: bolder;
  font-style: italic;
}
.ag-grid-style{
  width: 70%;
  height: 40%;
  padding-left: 2%;
}
.button-paddings{
  padding-left: 2%;
  padding-bottom: 1%;
}
$odd-row-background-color: #CFD8DC;

